<a style="cursor: pointer;" class="list-group-item clearfix" [routerLink]="[index]" routerLinkActivate="active">
  <div class="d-flex flex-row align-items-center justify-content-center">
    <div class=" pull-left">
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text" style="text-align: justify;">{{ recipe.description| shorten }}</p>
    </div>
    <span class="pull-right">
      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="p-3" style="height: 100px; width: 100px;">
    </span>
  </div>
</a>